{
    "plugins": {
        "kuzzle-mailer": {
            // "transporter": "smtps://username:password@smtp.gmail.com"
            "transporter": {
                "service": "gmail",
                "auth": {
                    "user": "username@gmail.com",
                    "pass": "password"
                },
                "connectionTimeout": 5000
            }
        }
    }
}